body {
    background: linear-gradient(#30b4c5, #d1dac9);
    height: 100vh;
}

thead th.head {
    background-color: rgb(155, 192, 172);
}

.check {
    
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.check-green {
    background-color: green;
}


.check-red {
    background-color: red;
}