body {
    background: linear-gradient(#30b4c5, #d1dac9);
    height: 100vh;
}

.form-select {
    width: 250px;
 }

h3 {
    font-size: 3rem;
    position: relative;
    display: inline-block;
}

h3::after {
    content: '';
    width: 50%;
    height: 5px;
    background-color: #212529;
    position: absolute;
    top: 100%;
    left: 0;
}

thead th.head {
    background-color: rgb(155, 192, 172);
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.check-green {
    background-color: green;
}


.check-red {
    background-color: red;
}

